
@font-face {
    font-family: "ocl2";
    src: url('/fonts/ocl/ocl2/ocl-2.eot');
    src: url('/fonts/ocl/ocl2/ocl-2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ocl/ocl2/ocl-2.woff2') format('woff2'),
         url('/fonts/ocl/ocl2/ocl-2.woff') format('woff'),
         url('/fonts/ocl/ocl2/ocl-2.ttf') format('truetype'),
         url('/fonts/ocl/ocl2/ocl-2.svg#ocl2') format('svg');
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: 'ocl1';
    src: url('/fonts/ocl/ocl1/ocl-1.eot');
    src: url('/fonts/ocl/ocl1/ocl-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ocl/ocl1/ocl-1.woff2') format('woff2'),
         url('/fonts/ocl/ocl1/ocl-1.woff') format('woff'),
         url('/fonts/ocl/ocl1/ocl-1.ttf') format('truetype'),
         url('/fonts/ocl/ocl1/ocl-1.svg#ocl1') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ocl3';
    src: url('/fonts/ocl/ocl3/ocl-3.eot');
    src: url('/fonts/ocl/ocl3/ocl-3.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ocl/ocl3/ocl-3.woff2') format('woff2'),
         url('/fonts/ocl/ocl3/ocl-3.woff') format('woff'),
         url('/fonts/ocl/ocl3/ocl-3.ttf') format('truetype'),
         url('/fonts/ocl/ocl3/ocl-3.svg#ocl3') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'WhoIs';
  src: url('/fonts/whois/whois-mono.ttf') format('truetype');
}

body{
background-color: red;
}

body#restitution{
  background-color: blue;
}
.restitution-page{
  background-color: blue;
}



h {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0px 10px 0px;
  font-size: 1EM;
  font-weight: normal;
  font-family: "WhoIs", monospace;
}

h1 {
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-size: 1EM;
  font-weight: normal;
  background-color: #2f00ff; /*bleu(17,0,255); vert d'eau clair#e1ffff;*/
  font-family: "WhoIs", monospace;
}

h2 {
  font-family: "ocl3", sans-serif;
  font-size : 7EM;
  line-height: 1EM;
  font-weight: normal;
}

span {
  color : #2f00ff;
  line-height: 30px;
  margin: 10px 0px 10px 0px;
  font-size: 1EM;
  font-weight: normal;
  font-family: "WhoIs", monospace;
}

ul {
   list-style-type:none;
}

li{
  font-family: "WhoIs", monospace;
  font-size : 1EM;
}

p {
  padding-left: 10px;
  font-family : "WhoIs", monospace;
  font-size:20px;
}

div.login > input {
  display: block;
  background-color: black;
  color: white;
  width: 20%;
  border : 0px;
  font-family: "WhoIs", monospace;
  font-size: 1EM;
  padding : 5px 15px 5px 15px;
  margin : 5px 0px 5px 0px;
}


a, button {
  line-height: 1.5EM;
  border: 0px;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  background-color: #2f00ff;
  color: white;
  font-family : "WhoIs", monospace;
  font-size: 1.25EM;
  text-decoration : none;
}

.artimg {
  margin:2px;
}

:focus {
  outline: solid black;
  color: white;
}

.toolbar{
background-color: solid #2f00ff;
}

.toolbar:hover{
  outline: solid #2f00ff;
  background-color: red;
  color: white;
}

a.active {
  outline: solid #2f00ff;
  background-color: red;
  color: white;
}


button:hover{
  outline: solid black;
  color: white;
}

a:hover{
  outline: solid #2f00ff;
}
input:hover{
  outline: solid red;
}

textarea:hover{
  outline: solid red;
}

.ev_removeMe:hover{
  background-color: #ff0000;
  color:white;
  cursor: pointer;
}

.ev_selectArticle{
  font-family: "WhoIs", monospace;
  font-size : 18px;
}

.liste_depots{
  width: 80%;
}
.ev_selectArticle:hover{
  color:black;
  text-decoration: underline;
  cursor: pointer;
}


.ev_logout{
  float: right;
  line-height: 20px;
  background-color: #ff0000;
  font-size: 14px;
  border:0;
  margin: 5px;
  padding:10px;
  }

.ev_removeMe {
  text-decoration: none;
  background-color: #ff0000
}

form.editArticle {
  font-family: "WhoIs", monospace;
  font-size: 1.5EM;
  width:90%;
  text-align: left;
  padding:10px;
}

form.editArticle > input,textarea{
  background-color: #f3f8ff;
  border-color: #2f00ff;
  border-width: 10px;
  border-style: solid;
  box-shadow: none;
  font-family: "WhoIs", monospace;
  font-size: 18px;
  line-height:20px;
  width:85%;
  color: black;
  margin: 5px;
  height: 40px;
  padding-left:10px;
}

form.editArticle > textarea{
  padding : 10px;
  height: 400px;
  font-size: 18px;
  line-height:20px;
  color:black;
}
form.editArticle > textarea.chapo_area {
    height: 100px;
}

/*Valider*/
form.editArticle > button{
  font-size: 14px;
  background-color: #2f00ff;
  color: white;
  border:0;
  padding:10px;
}

.annuler{
  background-color: #ff0000;
  font-size: 14px;
  color: white;
  border:0;
  padding:10px;
}

h.addimg{
  color: black;
}

.thumbnail{
  width : 30%;
}
input[type="file" i]{
  background-color: #2f00ff;
  font-family: WhoIs, monospace;
  color: white;
}

.label-file:hover{
color:purple;
}

.input-file{
  display: none;
}

div.titre_rest{
  text-align: center;
  font-family: "ocl3",sans-serif;
  font-size: 3EM;
  padding:10px 10px 0px 10px;
}

div.soustitrerestitution{
  text-align: center;
  font-family: WhoIs, monospace;
  font-size: 2EM;
  padding:10px;
}

div.article_add_images {
  border: 5px solid black;
  padding : 10px;
  float: right;
  color : white;
}

div.view_files{
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

div.titrephoto{
  line-height: 1.5EM;
  font-family: WhoIs, monospace;
  font-size: 1EM;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


div.datepub{
  font-family: WhoIs, monospace;
  font-size: 1EM;
padding-top: 10px;
}

img.preview{
  display: flex;
  background: none;
  width: 100%;
  align-content: center;
}
