@font-face {
    font-family: "ocl2";
    src: url('/fonts/ocl/ocl2/ocl-2.eot');
    src: url('/fonts/ocl/ocl2/ocl-2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ocl/ocl2/ocl-2.woff2') format('woff2'),
         url('/fonts/ocl/ocl2/ocl-2.woff') format('woff'),
         url('/fonts/ocl/ocl2/ocl-2.ttf') format('truetype'),
         url('/fonts/ocl/ocl2/ocl-2.svg#ocl2') format('svg');
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: 'ocl1';
    src: url('/fonts/ocl/ocl1/ocl-1.eot');
    src: url('/fonts/ocl/ocl1/ocl-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ocl/ocl1/ocl-1.woff2') format('woff2'),
         url('/fonts/ocl/ocl1/ocl-1.woff') format('woff'),
         url('/fonts/ocl/ocl1/ocl-1.ttf') format('truetype'),
         url('/fonts/ocl/ocl1/ocl-1.svg#ocl1') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ocl3';
    src: url('/fonts/ocl/ocl3/ocl-3.eot');
    src: url('/fonts/ocl/ocl3/ocl-3.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ocl/ocl3/ocl-3.woff2') format('woff2'),
         url('/fonts/ocl/ocl3/ocl-3.woff') format('woff'),
         url('/fonts/ocl/ocl3/ocl-3.ttf') format('truetype'),
         url('/fonts/ocl/ocl3/ocl-3.svg#ocl3') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'WhoIs';
  src: url('/fonts/whois/whois-mono.ttf') format('truetype');
}

// Fira Sans

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-Light.eot");
    src: local("Fira Sans Light"),
         url("/fonts/eot/FiraSans-Light.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-Light.woff") format("woff"),
         url("/fonts/ttf/FiraSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-LightItalic.eot");
    src: local("Fira Sans Light Italic"),
         url("/fonts/eot/FiraSans-LightItalic.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-LightItalic.woff") format("woff"),
         url("/fonts/ttf/FiraSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-Regular.eot");
    src: local("Fira Sans Regular"),
         url("/fonts/eot/FiraSans-Regular.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-Regular.woff") format("woff"),
         url("/fonts/ttf/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-RegularItalic.eot");
    src: local("Fira Sans Regular Italic"),
         url("/fonts/eot/FiraSans-RegularItalic.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-RegularItalic.woff") format("woff"),
         url("/fonts/ttf/FiraSans-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-Medium.eot");
    src: local("Fira Sans Medium"),
         url("/fonts/eot/FiraSans-Medium.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-Medium.woff") format("woff"),
         url("/fonts/ttf/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-MediumItalic.eot");
    src: local("Fira Sans Medium Italic"),
         url("/fonts/eot/FiraSans-MediumItalic.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-MediumItalic.woff") format("woff"),
         url("/fonts/ttf/FiraSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-Bold.eot");
    src: local("Fira Sans Bold"),
         url("/fonts/eot/FiraSans-Bold.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-Bold.woff") format("woff"),
         url("/fonts/ttf/FiraSans-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-BoldItalic.eot");
    src: local("Fira Sans Bold Italic"),
         url("/fonts/eot/FiraSans-BoldItalic.eot") format("embedded-opentype"),
         url("/fonts/woff/FiraSans-BoldItalic.woff") format("woff"),
         url("/fonts/ttf/FiraSans-BoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}



body{
  background-color: red;
}




h {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0px 10px 0px;
  font-size: 1EM;
  font-weight: normal;
  font-family: "WhoIs", monospace;
}

h1 {
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-size: 1EM;
  font-weight: normal;
  background-color: #2f00ff; /*bleu(17,0,255); vert d'eau clair#e1ffff;*/
  font-family: "WhoIs", monospace;
}

h2 {
  font-family: "ocl3", sans-serif;
  font-size : 7EM;
  line-height: 1EM;
  font-weight: normal;
}

h3 {
  font-family: "ocl3", sans-serif;
  font-size : 3EM;
  line-height: 1EM;
  font-weight: normal;
}

div.texte{
  padding: 10px;
  font-family: "WhoIs", monospace;
  font-size: 1EM;
  color:black;
}

div.texteimg{
  padding-bottom: 10px;
  font-family: "WhoIs", monospace;
  font-size: 1EM;
  color:black;
}

div.preceptes{
  margin-right : 50%;
  margin-left: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 2.5px solid #2f00ff;
  border-style: dashed;
}



.guide{
  font-family: "WhoIs", monospace;
  font-size: 0.75EM;
  line-height: 1EM;
  color: black;
}
.guide_souligner{
  font-family: "WhoIs", monospace;
  font-size: 0.75EM;
  line-height: 1EM;
  text-decoration: underline;
  color: black;
}

span {
  color : #2f00ff;
  line-height: 30px;
  margin: 10px 0px 10px 0px;
  font-size: 1EM;
  font-weight: normal;
  font-family: "WhoIs", monospace;
}

ul {
  font-family: "WhoIs", monospace;
  font-size: 1EM;
   list-style-type:none;
}

li{
  font-family: "WhoIs", monospace;
  font-size : 1EM;
}

p {
  padding-left: 10px;
  font-family : inherit;
  font-size:inherit;
}

div.login > input {
  display: block;
  background-color: black;
  color: white;
  width: 20%;
  border : 0px;
  font-family: "WhoIs", monospace;
  font-size: 1EM;
  padding : 5px 15px 5px 15px;
  margin : 5px 0px 5px 0px;
}

.toolbar{
  line-height: 1.5EM;
  border: 0px;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  background-color: #2f00ff;
  color: white;
  font-family : "WhoIs", monospace;
  font-size: 1.25EM;
  text-decoration : none;
}
button {
  line-height: 1.5EM;
  border: 0px;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  background-color: #2f00ff;
  color: white;
  font-family : "WhoIs", monospace;
  font-size: 1.25EM;
  text-decoration : none;
}

.bottom{
  padding: 10px;
  font-family: "WhoIs", monospace;
  font-size: 0.9EM;
  color:black;
  text-decoration: none;
}

.bottom_link{
  padding: 10px;
  font-family: "WhoIs", monospace;
  font-size: 0.7EM;
  color:black;
  text-decoration: underline;
}

.artimg {
  line-height: 1.5EM;
  border: 0px;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  background-color: #2f00ff;
  color: white;
  font-family : "WhoIs", monospace;
  font-size: 1.25EM;
  text-decoration : none;
  margin:2px;
}

:focus {
  outline: solid black;
  color: white;
}

a:hover{
  outline: solid white;
}

.toolbar:hover{
  outline: solid white;
  background-color: red;
  color: white;
  border-color: solid white;
}

a.active {
  outline: solid #2f00ff;
  background-color: red;
  color: white;
}


button:hover{
  outline: solid black;
  color: white;
}


input:hover{
  outline: solid red;
}

textarea:hover{
  outline: solid red;
}

.ev_removeMe:hover{
  background-color: #ff0000;
  color:white;
  cursor: pointer;
}

.ev_selectArticle{
  font-family: "WhoIs", monospace;
  font-size : 18px;
}

.liste_depots{
  width: 80%;
}
.ev_selectArticle:hover {
  color:black;
  text-decoration: underline;
  cursor: pointer;
}


.ev_logout{
  background-color: #2f00ff;
  color: white;
  font-family : "WhoIs", monospace;
  font-size: 1EM;
  text-decoration : none;

  float: right;
  line-height: 1.3EM;
  background-color: #ff0000;
  border:0;
  margin: 5px;
  padding:10px;
  }

.ev_removeMe {
  text-decoration: none;
  background-color: #ff0000
}

form.editArticle {
  font-family: "WhoIs", monospace;
  font-size: 1.5EM;
  width:90%;
  text-align: left;
  padding:10px;
}

form.editArticle > input,textarea{
  background-color: #f3f8ff;
  border-color: #2f00ff;
  border-width: 10px;
  border-style: solid;
  box-shadow: none;
  font-family: "WhoIs", monospace;
  font-size: 18px;
  line-height:20px;
  width:85%;
  color: black;
  margin: 5px;
  height: 40px;
  padding-left:10px;
}

form.editArticle > textarea{
  padding : 10px;
  height: 400px;
  font-size: 18px;
  line-height:20px;
  color:black;
}
form.editArticle > textarea.chapo_area {
    height: 100px;
}

/*Valider*/
form.editArticle > button{
  font-size: 14px;
  background-color: #2f00ff;
  color: white;
  border:0;
  padding:10px;
}

.annuler{
  background-color: #ff0000;
  font-size: 14px;
  color: white;
  border:0;
  padding:10px;
}

h.addimg{
  color: black;
}

.thumbnail{
  width : 30%;
}
input[type="file" i]{
  background-color: #2f00ff;
  font-family: WhoIs, monospace;
  color: white;
}

.input-file{
  display: none;
}

div.titre_rest{
  text-align: center;
  font-family: "ocl3",sans-serif;
  font-size: 3EM;
  padding:10px 10px 0px 10px;
}

div.soustitrerestitution{
  text-align: center;
  font-family: WhoIs, monospace;
  font-size: 2EM;
  padding:10px;
}

div.article_add_images {
    font-family: WhoIs, monospace;
    font-size: 1EM;
  line-height: 1EM;
  border: 5px solid #2f00ff;
  background-color: #f3f8ff;
  padding : 10px;
  float: right;
  color : black;
}

div.textimg{
  padding-bottom : 10px;
}
div.view_files{
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

div.titrephoto{
  line-height: 1.5EM;
  font-family: WhoIs, monospace;
  font-size: 1EM;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


div.datepub{
  font-family: WhoIs, monospace;
  font-size: 1EM;
  padding-top: 10px;
}

img.preview{
  display: flex;
  background: none;
  width: 100%;
  align-content: center;
}
