<template name="apropos">
  <div class="bottom">Typographies : Open Commons Linz, par Manuel Radde & Igor Labudovic | WhoIs, par Raphaël Bastide | Fira Sans, par Erik Spiekermann et Ralph du Carrois</div>
  <a class="bottom_link" href="https://github.com/christellePerrin/Cannes" target="_blank">Fork me on Github</a>

  <h3>A propos de ce projet :</h3>
  <div class="texte">Vous pouvez retrouver ici les contributions des membres de Maze Magazine accrédités au Festival de Cannes.</div>


  <ul>  Baptiste Thevelein</ul>
  <ul>  Benoît Michaëly</ul>
  <ul>  Diane Lestage</ul>
  <ul>  Christelle Perrin</ul>
  <ul>  Lisa Boquen</ul>
  <ul>  Jules Azelie</ul>
  <ul>  Nicolas Renaud</ul>
  <ul>  Kevin Dufrêche</ul>
  <ul>  Caroline Fauvel</ul>
  <ul>  Romane Segui</ul>
  <ul>  Sophie Rossignol</ul>
  <ul>  Louison Larbodie</ul>


</template>
