<template name="depotimages">

  <h2>DEPOT D'IMAGES</h2>
  <a href="/depot/articles" class="artimg"> > Articles </a>

  <div class="liste_depots">
    <div class="article_add_photos">
      <h class="addimg">Ajouter une photo :</h>
      {{> uploadForm }}
    </div>
    <p>Liste des photos en ligne :</p>
    <ul>
        {{! showFiles}}
        {{#each image in images}}
          {{> showPhoto image=image}}
        {{else}}
          <p>Pas encore d'images... :-(</p>
          {{/each}}
    </ul>
  </div>
</template>

<template name="editPhoto">
</template>

<template name="showPhoto">
<div class="">
  <img class="preview" src="{{fileURL image}}" alt="{{image.name}}" />
  {{#if isOwnerWithP image.userId}}
    <span class="ev_removeMe">[X]</span>
  <br />
  <label for="legend">Légende : </label>
  <input name="image_id" type="hidden" value="{{image._id}}" />
  <input name="legend" type="text" value="{{image.meta.legend}}"/>
  <div class="ajouter_une_photo">
    <a href="/" class="annuler">Annuler</a>
    <button class="valider">Valider</button>
  </div>
  {{else}}
  <figcaption>{{image.meta.legend}}</figcaption>
  {{/if}}
</div>
</template>
