.highlight {
  background-color: yellow;
  transition: 0.2s;
}

.legendeimg{
  font-family: WhoIs, monospace;
  font-size: 1EM;
}

label{
  font-family: WhoIs, monospace;
  font-size: 1EM;
}

input{
    background-color: #f3f8ff;
    border-color: #2f00ff;
    border-width: 10px;
    border-style: solid;
    font-family: "WhoIs", monospace;
    font-size: 18px;
    line-height:20px;
    width:35%;
    color: black;
    margin: 5px;
    height: 30px;
    padding-left:10px;
}

input:focus{
  color:black;
}
