<template name="depotimages">

  <h2>DEPOT D'IMAGES</h2>
  <a href="/depot/articles" class="artimg"> > Articles </a>

  <div class="liste_depots">
    <div class="article_add_photos">
      <h class="addimg">Ajouter une photo :</h>
      {{> uploadForm }}
    </div>
    <p>Liste des photos en ligne :</p>
    <ul>
        {{> showFiles}}
        {{#each images}}
          {{> showPhoto}}
        {{else}}
          <p>Pas encore d'images... :-(</p>
          {{/each}}
    </ul>
  </div>
  <div class="ajouter_une_photo">
    {{> editPhoto }}
  </div>
</template>

<template name="editPhoto">
  <a href="/" class="annuler">Annuler</a>
  <button class="valider">Valider</button>
</template>

<template name="showPhoto">
  <img class="preview" src="{{image.link}}" alt="{{image.name}}" />
</template>
