form.editArticle {
  width:15cm;
  border: 1px solid black;
  text-align: center;
  padding:10px;
}
form.editArticle > input,textarea{
  width:85%;
  background-color: white;
  color: black;
  margin: 5px;
  height: 60px;
  line-height:60px;
  font-size:25px;
}

form.editArticle > textarea{
  height: 500px;
  line-height:28px;
}


form.editArticle > label{
  font-size: 70px;
}
form.editArticle > button{
  background-color: green;
  border:0;
  height:70px;
  width:140px;
}
