<template name="restitution">
  {{#each medias}}
    {{> showMedia}}
  {{else}}
    <p>Pas dmédias</p>
  {{/each}}
  <!--
<div class="grid-container">
  <div class="titre">
titre
  </div>
  <div class="sous-titre">
    sous-titre
  </div>
  <div class="chapo">
    chapo
  </div>
  <div class="contenu">
    contenu
  </div>

</div>
-->
</template>


<template name="showMedia">
  <div class="media">
    <div class="medias">
      {{> render}}
    </div>
  </div>
</template>



<template name="mediaImage">
    <img class="preview" src="{{link}}" alt="{{name}}" />
</template>
<template name="mediaArticle">
<p>{{titre}}</p>
{{> showArticleImage}}
</template>
