.fullscreen{
    position: absolute;
    background-color: chartreuse;
    width : 80%;
    transition: 0.5s;
    top:100px !important;
    left:0 !important;
    border: 10px solid #2f00ff;
    background-color: white;
    margin: 10px;
    padding: 5%;
    cursor:move;
}

.fullscreen_all{
    position: absolute;
    background-color: chartreuse;
    width : 80%;
    transition: 0.5s;
    top:100px !important;
    left:0 !important;
    border: 10px solid #2f00ff;
    background-color: white;
    margin: 10px;
    padding: 5%;
    cursor:move;
}

div.medias {
  position: absolute;
  width : 25%;
  height : auto;
  border: 10px solid #2f00ff;
  background-color: white;
  margin: 10px;
  padding: 10px;
  cursor:move;

}

div.medias:hover{
  background-color: lightgrey;
}
.label-file{
  cursor:pointer;
  background-color: #2f00ff;
  padding: 5px;
  color : white;
  font-family: WhoIs, monospace;
  font-size : 1EM;
}

.notselected {
  z-index: auto;
}
.selected {
  z-index: 10000;
}

.chapo_hidden{
  display: none;
}
.contenu_hidden{
  display: none;
}

.chapo_rest{
  display: block;
  padding: 10px;
  font-family: "WhoIs", monospace;
  font-size : 1.5EM;
  line-height: 1.25EM;
}

.contenu_rest{
  display: block;
  padding:10px;
  font-family: "WhoIs", monospace;
  font-size : 1.25EM;
}

.preview_rest{
  display: flex;
  background: none;
  width: 100%;
  align-content: center;
  }

.preview_hidden{
  display : none;
}
.auteur {
  font-family: WhoIs, monospace;
  text-decoration: underline;
  text-align: center;
  font-size : 1EM;
}
