.fullscreen{
  display: inline-block;
    position: absolute;
    width : 80%;
    transition: 0.5s;
    top:100px !important;
    left:0 !important;
    border: 10px solid #2f00ff;
    background-color: white;
    margin: 10px;
    padding: 5%;
    cursor: zoom-in;
    .close {
    display: block;
    }
}

.fullscreen_all{
    position: absolute;
    width : 80%;
    transition: 0.5s;
    top:100px !important;
    left:0 !important;
    border: 10px solid #2f00ff;
    background-color: white;
    margin: 10px;
    padding: 5%;
    cursor:normal;

    .close {
      display: block;
    }

}

.medias {
  position: absolute;
  width : 25%;
  height : auto;
  border: 10px solid #2f00ff;
  background-color: white;
  margin: 10px;
  padding: 10px;
  cursor:move;
  box-shadow: -10px 10px;

  .close {
    display:none;
  }
}

.medias:hover{
  background-color: RGB(233,233,233);
  width : 26%;
}

.label-file{
  cursor:pointer;
  background-color: #2f00ff;
  padding: 5px;
  color : white;
  font-family: WhoIs, monospace;
  font-size : 1EM;
}

.notselected {
  z-index: auto;
}
.selected {
  z-index: 10000;
}

.chapo_hidden{
  display: none;
}
.contenu_hidden{
  display: none;
}

.chapo_rest{
  display: block;
  padding: 10px;
  font-family: "WhoIs", monospace;
  font-size : 1.1EM;
  line-height: 1.25EM;
}

.contenu_rest{
  display: block;
  padding:10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-size: 1EM;
  line-height: 1.5EM;
}

.preview_rest{
  background: none;
  width: 90%;

  }

.preview_hidden{
  display : none;
}
.auteur {
  font-family: "WhoIs", monospace;
  text-decoration: underline;
  text-align: center;
  font-size : 1EM;
}

.close{
  float: right;
  font-family: "WhoIs", sans-serif;
  font-size: 2.5EM;
  color: red;
  font-weight:lighter;
  cursor: pointer;
}
